/* Nulstil margin og padding */
body,
html {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
}
/* header for alle html*/
.header {
  background-color: #000000;
  padding: 26px;
  text-align: center;
}
/*logo i header*/
.logo {
  float: left;
  height: 100px;
  margin-left: 10px;
  margin-top: -22px;
}
/* spil knap i header*/
.spilknapheader {
  background-color: #9c8281;
  color: rgb(255, 255, 255);
  padding: 10px 35px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  float: right;
  margin-right: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  margin-top: 5px;
}
/* navigation i header*/
.navheader {
  display: inline-block;
  margin-left: 0px;
}

/* li i header */
.liheader {
  display: inline;
  margin-right: 60px;
}

.navheader2 {
  display: inline-block;
  margin-left: 100px;
}

/* li i header */
.liheader2 {
  display: inline;
  margin-right: 60px;
}

/* container på forside */
.container {
  display: flex;
  padding: 0px;
  height: 100%;
  width: 100%;
}
/* text på forside */
.text {
  width: 50%;
  padding-top: 20px;
  padding-left: 50px;
  padding-bottom: 20px;
  padding-right: 50px;
}
/* billede på forside */
.picture {
  width: 57%;
}
/* billeder på higher or lower side */
img {
  max-width: 100%;
  height: auto;
}
.hlimg {
  filter: brightness(75%);
}
/* knappe til spil på forside */
.button {
  background-color: #9c8281;
  border-radius: 5px;
  padding: 14px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  font-weight: 600;
  margin: 4px 2px;
  color: rgb(255, 255, 255);
  border: 2px solid #9c8281;
}

/* hover over knappen på forside */
.button:hover {
  background-image: url(/billeder/skrald.jpg);
  color: rgb(0, 0, 0);
}
/* knapper i header */
.button2 {
  text-decoration: none;
  color: #ffffff;
  margin-left: 30px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.indexbtn {
  margin-left: -50px;
}
/* hover over knappen */
.button2:hover {
  -webkit-text-fill-color: #9c8281;
}

/*styling på higher or lower html*/

/*left*/

#leftImage {
  max-width: 100%;
  max-height: auto;
  overflow: hidden;
}
#leftMaterial {
  position: absolute;
  font-size: 32px;
  top: 40%;
  left: 17.5%;
  font-weight: bold;
  color: white;
  text-align: center;
  text-shadow: 0 6px 6px rgba(0, 0, 0, 0.9);
}

#har {
  position: absolute;
  font-size: 20px;
  top: 50%;
  left: 17.5%;
  color: white;
  text-align: center;
  text-shadow: 0 6px 6px rgba(0, 0, 0, 0.9);
}
#leftnedbrydning {
  position: absolute;
  font-size: 32px;
  top: 55%;
  left: 17.5%;
  color: white;
  text-align: center;
  text-shadow: 0 6px 6px rgba(0, 0, 0, 0.9);
}
#leftnedbrydningtext {
  position: absolute;
  font-size: 20px;
  top: 63%;
  left: 17.5%;
  color: white;
  text-align: center;
  text-shadow: 0 6px 6px rgba(0, 0, 0, 0.9);
}
#beskrivelse {
  position: absolute;
  font-size: 20px;
  top: 75%;
  left: 2%;
  color: black;
  padding: 10px;
  width: 300px;
  background-color: rgba(255, 255, 255, 0.5);
  border: 2px solid black;
}

/*right*/
#rightImage {
  max-width: 100%;
  max-height: auto;
  overflow: hidden;
}

#rightMaterial {
  position: absolute;
  font-size: 32px;
  top: 40%;
  left: 70%;
  font-weight: bold;
  color: white;
  text-align: center;
  text-shadow: 0 6px 6px rgba(0, 0, 0, 0.9);
}
#harEn {
  position: absolute;
  font-size: 20px;
  top: 50%;
  left: 70%;
  color: white;
  text-align: center;
  text-shadow: 0 6px 6px rgba(0, 0, 0, 0.9);
}
#rightnedbrydning {
  position: absolute;
  font-size: 20px;
  top: 75%;
  left: 70%;
  color: white;
  text-align: center;
  text-shadow: 0 6px 6px rgba(0, 0, 0, 0.9);
}

/* knapper på higher or lower*/
#higher {
  top: 60%;
  left: 70%;
}
#lower {
  top: 68%;
  left: 70%;
}

.HLButton {
  position: absolute;
  height: 50px;
  width: 200px;
  top: 60%;
  left: 70%;
  cursor: pointer;
  font-size: 32px;
  border: 2px solid black;
  background-color: rgba(255, 255, 255, 0.5);
  font-weight: bold;
  border-radius: 30px;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
}
/* hover over knappen*/
.HLButton:hover {
  background-color: white;
  -webkit-text-fill-color: black;
}
/*score*/
#score {
  position: absolute;
  height: 50px;
  width: 100px;
  top: -2%;
  left: 90%;
  color: white;
  font-size: xx-large;
}
/*tooltip til hover i visualisering */
#tooltip {
  position: absolute;
  width: 200px;
  height: auto;
  padding: 10px;
  background-color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none;
}

#tooltip.hidden {
  display: none;
}

#tooltip p {
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 20px;
}
/*farve skift på hover*/
circle:hover {
  fill: #9c8281;
}
/*forklarende text til visuialisering*/
#ForklarendeText {
  position: absolute;
  left: 20%;
  top: 90%;
}

/* modalen (baggrund) */
.modal {
  display: none; /* gemt */
  position: fixed; /* så den ikke flytter sig */
  z-index: 1; /* sidder øverst */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* scroll */
  background-color: rgb(0, 0, 0); /* fallback farve */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal indhold/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% fra top og centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* can være mere eller mindre alt efter skærm */
  text-align: center;
}

/* lukke knappen */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

/* hover  til luk*/
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.restartspilknap {
  background-color: #9c8281;
  color: rgb(255, 255, 255);
  margin-top: 14px;
  padding: 12px 35px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

/*kategori text box*/
.kategoriText {
  position: absolute;
  top: 35%;
  left: 80%;
}

/* CSS for the transition animation */
.move-left {
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}
.vsButton {
  position: absolute;
  height: 5.125rem;
  width: 5.125rem;
  border-radius: 50%;
  background: #fff;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  overflow: hidden;
}

.vsText {
  vertical-align: middle;
  text-align: center;
  color: #000;
  font-weight: 700;
  font-size: xx-large;
  display: inline-block;
}
