/* Nulstiller margin og padding */
* {
    margin: 0;
    padding: 0;
}

/* Stil til headeren */
header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}

/* Stil til navigationen */
nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}
